.acordionContainer {
    border-radius: 1.25rem;
    padding: 0.625rem;
    background-color: #F4F4F4;
    width: 60%;
}

.acordionContainer:focus {
    outline: 0;
}

@media only screen and (max-width: 768px) {
    .acordionContainer{
        width: 80%;
    }
}
