.panelTitle {
    cursor: pointer;
    color: #191B22;
    background-color: #F4F4F4;
    padding: 14px 23px;
    font-weight: bold;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
    text-align:left;
}

.panelCollapse {
    border: 2px solid #F4F4F4;
    background-color: #FFF;
    display: none;
    
}


.panelBody {
    border: none !important;
    font-size: 1rem;
    color: #707070;
    padding: 28.5px 41px 24.5px 30px;
    text-align:left;
}

.open{
    display: block;
    animation: slide-down .3s ease-out;  
}

@keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-10%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

.accordionIcon {
    margin-left: 19px;
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(90deg);
}


@media only screen and (max-width: 768px) {
    .panelTitle {
        padding: 14px 20px;
        font-size: 1.1rem;
    }
    .panelBody {
        font-size: 1rem;
        padding: 18.5px 32px 7.5px 20px;
    }
    .accordionIcon {
        margin-left: 22px;
    }
}