.iconContainer {
    width: 20%;
    overflow:hidden
}

.icon {
    width: 100%;
    animation-duration: .5s;
    animation-name: slidefromright;
  }

  @keyframes slidefromright {
    0% { opacity: 0; -webkit-transform: translateX(50%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
  }

.iconLeft {
    width: 100%;
    animation: slidefromleft .3s ease-out; 
}

@keyframes slidefromleft {
  0% { opacity: 0; -webkit-transform: translateX(-50%); }   
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
  

@media only screen and (max-width: 768px) {
  .iconContainer {
    width: 60%;
  }

  .icon {
    animation: slide-up .3s ease-out;  
  }
      
  @keyframes slide-up {
    0% { opacity: 0; -webkit-transform: translateY(20%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
  }

  .iconLeft {
    animation: slideup .3s ease-out; 
  }

  @keyframes slideup {
    0% { opacity: 0; -webkit-transform: translateX(-20%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
  }
}



