.subtitleContainer {
    font-size: 1rem;
    font-weight: normal;
    margin: 3% 10% ;
    color: #707070;
}

@media only screen and (max-width: 768px) {
    .subtitleContainer{
        font-size: 0.875rem;
    }
}
